a {
  text-decoration: none;
}
.header {
  .top-nav,
  .bottom-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    li {
      list-style: none;
    }
    ul {
      list-style: none;
      display: flex;
      a {
        padding: 10px;
        background-color: aliceblue;
        border-left: 1px solid blue;
        margin-left: 10px;
        cursor: pointer;
      }
      a:hover {
        background-color: aqua;
      }
    }
  }

  .bottom-nav {
    padding: 0 5em;
  }
}
.wrapper {
  width: 920px;
  margin: 10px auto;

  .eachNews {
    margin-top: 20px;
    padding: 20px;
    background-color: aliceblue;
    border-left: 2px solid blue;
    h1 {
      font-size: 25px;
      margin: 10px 0;
    }
    p {
      margin: 20px 0;
    }
    button {
      padding: 10px 40px;
      background-color: blue;
      outline: none;
      border: none;
      color: #fff;
      cursor: pointer;
    }
  }
}
.search-wrapper {
  text-align: center;
  margin: 2em 0;
  input {
    width: 500px;
    font-size: 18px;
    padding: 10px;
  }
  button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
}
